@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-container {
  background: linear-gradient(
    315deg,
    rgba(199, 100, 190, 0.352) 3%,
    rgba(128, 168, 209, 0.328) 38%,
    rgba(114, 245, 245, 0.262) 68%,
    rgba(122, 224, 154, 0.259) 98%
  );
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(1);
  }
}

body {
  overscroll-behavior: none;
}
